<h2>Code Names</h2>

<pre *ngIf="gameData && gameData.currentCommand != null" class="mb-0">Current Command: {{gameData.currentCommand}}</pre>
<pre *ngIf="gameData && gameData.currentRound != null" class="mb-0">Current Round: {{gameData.currentRound}}</pre>
<pre *ngIf="gameData && gameData.currentTeam != null" class="mb-0">Current Team: {{Team[gameData.currentTeam]}}</pre>
<pre *ngIf="gameData && gameData.currentHint != null" class="mb-0">Current Hint: {{gameData.currentHint}}</pre>
<pre *ngIf="gameData" class="mb-0">Is Game Ended: {{gameData.isGameEnded}}</pre>
<pre *ngIf="gameData && gameData.winningTeam != null" class="mb-0">Winning Team: {{Team[gameData.winningTeam]}}</pre>
<hr>

<div *ngIf="gameData && gameData.cards && gameData.cards.length == 25">

  <div class="row mb-2" *ngFor="let cardRows of getCardRows(); let i = index">
    <div class="col px-2" *ngFor="let card of cardRows; let j = index">
      <card-button [card]="card" [user]="this.user" (onClick)="callClick(card)"></card-button>
    </div>
  </div>

</div>

<!-- Specifically for Modal -->
<div class="modal fade" bsModal #userModal="bs-modal" [config]="modalConfig">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Choose Your Role</h4>
      </div>
      <div *ngIf="gameData" class="modal-body">
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="callLogin(UserType.RedLeader)" [disabled]="!gameData.isRedLeaderAvailable">Red Leader</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="callLogin(UserType.BlueLeader)" [disabled]="!gameData.isBlueLeaderAvailable">Blue Leader</button>
        <button type="button" class="btn btn-outline-danger btn-lg btn-block" (click)="callLogin(UserType.RedUser)">Red User</button>
        <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="callLogin(UserType.BlueUser)">Blue User</button>
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block" (click)="callLogin(UserType.Spectator)">Spectator</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #hintModal="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Leader send your hint!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideHintModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control form-control-lg mb-3" type="text" [(ngModel)]="hint" placeholder="Word/Noun followed by a Number">
        <pre class="mb-0">e.g "Arc Survival Evolved 7" or ask Josh</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" (click)="hideHintModal()">Cancel</button>
        <button type="button" class="btn btn-success btn-lg" (click)="callHint()">Send Hint</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="pickedCard" class="modal fade" bsModal #confirmPickModal="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Leader are you sure?!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideConfirmPickModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to pick:</p>
        <pre class="mb-0">{{pickedCard.word}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" (click)="hideConfirmPickModal()">Cancel</button>
        <button type="button" class="btn btn-success btn-lg" (click)="callPickCard()">Pick Card</button>
      </div>
    </div>
  </div>
</div>

<hr>

<button class="btn btn-primary" (click)="showUserModal()">Login</button>
<button class="btn btn-success" (click)="callLogout()">Logout</button>
<button class="btn btn-success" (click)="callNewGame()">New Game</button>
<button class="btn btn-success" (click)="callGenerateWords()">Generate Words</button>
<button class="btn btn-success" (click)="callGenerateMap()">Generate Map</button>
<button class="btn btn-success" (click)="callStartGame()">Start Game</button>
<button class="btn btn-success" (click)="showHintModal()">Send Hint</button>
<button class="btn btn-success" (click)="callNextRound()">Next Round</button>

<hr>

<pre>PRE HTML TAG</pre>