<h2>Dashboard component</h2>

<h3>Feeds</h3>

<br/>

<form class="form" [formGroup]="form">
  <app-ui-input label="Name" placeholder="Enter name...." [control]="form.get('name')"></app-ui-input>
  <app-ui-input label="Text" placeholder="Enter text...." [control]="form.get('text')"></app-ui-input>
</form>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{modalCloseResult}}</pre>